{
  "printWidth": 100,
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^(node/(.*)$)|^(node$)",
    "^(nestjs/(.*)$)|^(nestjs$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^common/(.*)$",
    "^decorators/(.*)$",
    "^filters/(.*)$",
    "^guards/(.*)$",
    "^interceptors/(.*)$",
    "^middlewares/(.*)$",
    "^modules/(.*)$",
    "^services/(.*)$",
    "^controllers/(.*)$",
    "^dtos/(.*)$",
    "^entities/(.*)$",
    "^repositories/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-prisma"]
}
